:root {
    --icons-color: #b1b1b1;
    --border-default: #e7e7e7;
}

/* * MAIN * */
.grad-bg {
    height: 100vh;
    background: rgb(0, 151, 136);
    background: linear-gradient(180deg, rgba(0, 151, 136, 1) 22%, rgba(214, 219, 215, 1) 22%);
}

main {
    height: 93%;
    max-height: 93%;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

main header:first-child,
main header:last-child {
    background-color: #eaeaea;
}

header .pfp {
    width: 50px;
}

main header:last-child {
    position: relative;
}


/* ! CONTACTS LIST ! */

/* * HEADER *  */
main header:first-child>div>div {
    color: var(--icons-color);
}

main header:first-child {
    border-right: 1px solid #dbdbdb;
}


/* * NOTIFICATION ALERT * */
.contacts__notification {
    background-color: #8edafc;
}

.notification__icon {
    background-color: white;
    border-radius: 100%;
    color: #8fd9fc;
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* * SEARCH BAR * */
.contacts__search-bar {
    background-color: #fcfcfa;
}

.contacts__search-bar>input[type=search] {
    border: var(--border-default) solid 1px;
    padding: 0px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.contacts__search-bar>input[type=search]:focus {
    border: 1px solid var(--icons-color);
}

.contacts__search-bar>button {
    border: var(--border-default) solid 1px;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    color: var(--icons-color);
    padding: 5px 25px;
}

/* todo: js to change button when search bas is focus on */
.contacts__search-bar>input[type=search]:focus-within ~ .contacts__search-bar>button {
    border: 1px solid var(--icons-color);
    background-color: pink;
}

/* * CONTACTS LIST * */
.contacts__list>li {
    border-bottom: 1px solid var(--border-default);
}

.contacts__list>li:last-child {
    border-bottom: 0;
}

.contacts__list>li:hover {
    background-color: #e9ebeb;
}

.contacts__list>li p,
.contacts__list>li time {
    color: var(--icons-color)
}


/* ! CONVOS ! */
.convos-bg {
    background-image: url("../img/mine.jpg");
}

footer {
    background-color: #f3eeea;
    color: #6b7376;
    height: 70px;
    position: relative;
}

footer input[type=text] {
    background-color: white;
    border: 0;
    border-radius: 7px;
}

/* MESSAGES INSIDE CONVO WINDOW */
.msg {
    --msg-max-width: 60%;

    border-radius: 10px;
    background-color: white;
    width: fit-content;
    min-width: 10%;
    max-width: var(--msg-max-width);
    padding: 3px 10px;
    margin-bottom: 6px;

    display: flex;
    flex-direction: column;

    /* ? tail - from google ? */
    --r: 25px; /* the radius */
    --t: 20px; /* the size of the tail */

    -webkit-mask:
        radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
        conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
        radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
}

.msg time {
    color: var(--icons-color);
    margin-top: -3px;
    align-self: flex-end;
    font-size: 0.7em;
 }

.msg.sender {
    background-color: white;
}

.msg.localUser {
    background-color: #d5f9ba;
}

.msg_row.localUser {
    display: flex;
    justify-content: flex-end;
}

.msg_row.sender {
    display:flex;
    justify-content: flex-start;
}











.msg_row.sender .msg:last-child {
    max-width: calc(var(--msg-max-width) + var(--t));
}

.msg_row.sender .msg:not(:last-child) {
    margin-left: var(--t);
}

.msg_row.localUser .msg:not(:last-child) {
    margin-right: var(--t);
}


.left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
}

.right {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
}



/* ! MISC ! */
.pfp {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 15%;
}

input[type=search], input[type=text] {  /* rimuove bordo nero quando si clicca su textbox */
    box-shadow: 0;
    outline: 0 none;
}

/* * SCROLLBAR CSS * */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #787878 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    border: 0;
  }