:root {
    --icons-color: #b1b1b1;
    --border-default: #e7e7e7;
}

/* * MAIN * */
.grad-bg {
    height: 100vh;
    background: rgb(0,151,136);
    background: linear-gradient(180deg, rgba(0,151,136,1) 13%, rgba(214,219,215,1) 13%);
}

main {
    height: 95%;
    max-height: 95%;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

main header:first-child, main header:last-child {
    background-color: #eaeaea;
}

header .pfp {
    width: 50px;
}

main header:last-child {
    position: relative;
}


/* ! CONTACTS LIST ! */

/* * HEADER *  */
main header:first-child > div > div {
    color: var(--icons-color);
}

main header:first-child {
    border-right: 1px solid #dbdbdb;
}


/* * NOTIFICATION ALERT * */
.contacts__notification {
    background-color: #8edafc;
}

.notification__icon {
    background-color: white;
    border-radius: 100%;
    color: #8fd9fc;
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* * SEARCH BAR * */
.contacts__search-bar {
    background-color: #fcfcfa;
}

.contacts__search-bar > input {
    border: var(--border-default) solid 1px;
    border-radius: 0;
    padding: 0px 5px;
}

.contacts__search-bar > button {
    border: var(--border-default) solid 1px;
    border-right: 0;
    border-radius: 0;
    background-color: white;
    color: var(--icons-color);
    padding: 5px 25px;
}

/* * CONTACTS LIST * */
.contacts__list > li {
    border-bottom: 1px solid var(--border-default);
}

.contacts__list > li:last-child {
    border-bottom: 0;
}

.contacts__list > li:hover {
    background-color: #e9ebeb;
}

.contacts__list > li p, .contacts__list > li time {
    color: var(--icons-color)
}


/* ! CONVOS ! */
.convos-bg {
    background-image: url("../img/mine.jpg");
}

footer {
    background-color: #f3eeea;
    color: #6b7376;
    height: 70px;
    position: relative;
}

footer input[type=text] {
    background-color: white;
    border: 0;
    border-radius: 7px;
}




/* ! MISC ! */
.pfp {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 15%;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--icons-color);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
    border: 0px none #ffffff;
  }